.files {
    display: flex;
    min-width: 100vw;
    height: 50vh;
}

.first,
.second {
    flex-grow: 1;
    min-width: 50%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.drag-target {
    background-color: #ff0000;
}

.negative {
    position: absolute;
    filter: invert(1);
    left: 0;
    top: 0;
}

.resolt {
    position: relative;

}
