main,
body {
    margin: 0;
    padding: 0;
}

/* .file-interface {
    display: none;
} */

.page_control {
    display: flex;
    justify-content: space-around;
    padding: 0 1%;
}

.files {
    display: flex;
    width: 100vw;
    height: 50vh;
}

.first,
.second {
    box-sizing: border-box;
    /* overflow: scroll; */
    overflow: hidden;
    margin: 1%;
    flex-grow: 1;
    width: 48%;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: box-shadow .8s ease-out;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.drag-target {
    transition: box-shadow .8s ease-out;
    /* box-shadow: inset 1px 1px 10px 8px rgb(172, 221, 175); */
    /* box-shadow: inset 2px 2px 10px 12px rgba(11, 11, 11, 0.542); */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* font-size: rgba(0, 0, 255, 0.542); */
}

.negative {
    position: absolute;
    filter: invert(1);
    left: 0;
    top: 0;
}

.resolt {
    position: relative;

}

.fa-file-pdf {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
}

.compare {
    /* width: 100%; */
}

#page_doc_1::-webkit-outer-spin-button,
#page_doc_2::-webkit-outer-spin-button,
#page_doc_1::-webkit-inner-spin-button,
#page_doc_2::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: 0;
}


input[type=number] {
    -moz-appearance: textfield;
    border: 0;
    text-align: center;
}
