:root {
    --main-black-color: #0F0F0F;
    --main-gray-color: #6d6d6d;
}


main,
body {
    margin: 0;
    padding: 0;
}

.control-form__file-interface_hidden {
    display: none;
}


.control-form {
    position: fixed;
    z-index: 10;
    margin: -8vh 0 0 0;
    background-color: #ffffff;
    height: 7vh;
    width: 98%;
    padding: 0 1%;
    display: flex;
    align-items: center;
}


.control-form__radio-first-mode,
.control-form__radio-second-mode,
.control-form__radio-third-mode {
    display: none;
}

.control-form__radio-block-item {
    /* height: 80%; */
    font-weight: 900;
    border-radius: 7px;
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    transition: box-shadow .8s ease-out, color .8s ease-out;
    padding: 0 2%;
    color: var(--main-gray-color);
}



.control-form__radio-block {
    font-weight: 900;
    display: flex;
    height: 100%;
    width: 49%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2% 0 0;
    background-color: #ffffff;
}

.control-form__negative-mode-controls,
.control-form__standart-mode-controls {
    display: flex;
    align-items: center;
    position: absolute;
    transition: left 1.4s ease-in-out;
    justify-content: space-between;
    height: 100%;
    left: 51%;
    z-index: -1;
    background-color: #ffffff;

}

.control-form__accuracy-slider,
.control-form__negative-opacity-slider,
.control-form__color-input {
    margin: 0 1vw;
}

.control-form__negative-mode-controls_shifted,
.control-form__standart-mode-controls_shifted {
    left: 1%;
}


.page-control {
    display: flex;
    justify-content: space-around;
    padding: 0 1%;
    margin: 2vh 0;
}

.preview-box {
    display: flex;
    height: 50vh;
    margin-top: 8vh;
}


.preview-box__first-card,
.preview-box__second-card {
    display: flex;
    color: var(--main-gray-color);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* overflow: scroll; */
    overflow: hidden;
    margin: 0 1%;
    padding: 3px 0;
    flex-grow: 1;
    width: 48%;
    border-radius: 10px;
    position: relative;
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    transition: box-shadow .8s ease-out, color .8s ease-out;
}

.preview-box__content {
    font-size: 35px;
    color: inherit;
}


.preview-box__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.preview-box__second-card:hover,
.preview-box__first-card:hover,
.drag-target {
    color: var(--main-black-color);
    box-shadow: #00000066 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, #00000033 0px -3px 0px inset;
}

.result-box__negative {
    position: absolute;
    filter: invert(1);
    left: 0;
    top: 0;
}

.result-box {
    position: relative;

}

.page-control__first-page-input::-webkit-outer-spin-button,
.page-control__second-page-input::-webkit-outer-spin-button,
.page-control__first-page-input::-webkit-inner-spin-button,
.page-control__second-page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: 0;
}


.page-control__second-page-input,
.page-control__first-page-input {
    -moz-appearance: textfield;
    border: 0;
    text-align: center;
}

.page-control__lower-first-arrow-box,
.page-control__higher-first-arrow-box,
.page-control__lower-second-arrow-box,
.page-control__higher-second-arrow-box {
    transition: all .8s ease-out;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--main-gray-color);
}

.page-control__lower-first-arrow-box:hover,
.page-control__higher-first-arrow-box:hover,
.page-control__lower-second-arrow-box:hover,
.page-control__higher-second-arrow-box:hover {

    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    /* font-size: 19px; */
    color: var(--main-black-color);
}

.compare-button {
    position: sticky;
    top: 5.6vh;
    z-index: 10;
    background-color: #ffffff;
    border: none;
    /* height: 70%; */
    width: 98%;
    border-radius: 7px;
    font-weight: 900;
    box-shadow: #00000030 0px 10px 20px, #0000003b 0px 6px 6px;
    transition: box-shadow .8s ease-out, color .8s ease-out;
    margin: 0 1% 1vh 1%;
}

.compare-button:hover {
    box-shadow: #00000066 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, #00000033 0px -3px 0px inset;
}

.control-form__radio-block-item:has(input:checked),
.compare-button_active {
    box-shadow: #0235fe30 0px 10px 20px, #6df5813b 0px 6px 6px;
    color: var(--main-black-color);
}
